
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <input type="text" name="Username" value="@Model.Username" placeholder="Username" class="form-control"/>

    <span class="text-danger">@Html.ValidationMessage("Username")</span>

    </br>

    <input type="password" name="password" value="@Model.Username" placeholder="password" class="form-control" />

    <span class="text-danger">@Html.ValidationMessage("Password")</span>

    </br>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>


</form>

